@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap");
body {
  font-family: "Fredoka", sans-serif;
  padding: 0;
  color: #3a3a3a;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 50px;
}

.search-btn {
  width: 40px;
  height: 40px;
  transition-duration: 4ms;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #ececec;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 50%;
}

.search-btn:active {
  transform: scale(0.9);
}

.menu-items {
  list-style: none;
  display: flex;
  width: 300px;
  justify-content: space-between;
  padding: 0;
  color: #b2b1b9;
}

h1 {
  margin: 0;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.menu-item {
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover {
  color: #3a3a3a;
}

.active-menu {
  color: #3a3a3a;
}

.profile-container {
  width: 50px;
  overflow: hidden;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.profile-image {
  width: 100%;
  height: 100%;
}

.menu-btn {
  outline: none;
  border: none;
  background: transparent;
  display: none;
}
.cards-container {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  background-color: #dadada;
  padding: 100px 200px;
  justify-content: space-between;
}

.card {
  background-color: white;
  width: 110px;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
}

.card-title1 {
  font-size: 3rem;
}

.orders-container {
  padding: 50px 200px;
  background-color: #f5f5f5;
}

.status-active {
  padding: 5px 30px;
  background-color: #4fd3c4;
  color: white;
  border-radius: 15px;
  text-align: center;
}

.status-new {
  padding: 5px 30px;
  background-color: #ffd365;
  color: white;
  border-radius: 15px;
  text-align: center;
}

table {
  width: 100%;
}

table tr th {
  font-weight: normal;
  padding: 15px;
}

table tr td {
  text-align: center;
  padding: 20px;
}

tr:nth-child(even) {
  background-color: white;
}

@media screen and (max-width: 1024px) {
  .cards-container {
    padding: 100px 100px;
  }
}

@media screen and (max-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    padding: 100px 50px;
  }
  .orders-container {
    padding: 0;
  }
}

@media screen and (max-width: 425px) {
  table tr th {
    padding: 8px;
  }
  table tr td {
    text-align: center;
    padding: 8px;
  }
  .status-active {
    padding: 3px 10px;
    background-color: #4fd3c4;
    color: white;
    border-radius: 15px;
    text-align: center;
  }

  .status-new {
    padding: 3px 10px;
    background-color: #ffd365;
    color: white;
    border-radius: 15px;
    text-align: center;
  }
  .cards-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 100px 10px;
  }
  .menu-items {
    display: none;
  }
  .menu-btn {
    display: block;
  }
}
